/*** Navbar **/
.navbar {
background-color: blue;
}

/*** first-container **/
.first-container > img {
  height : 500px;
  width: 100%;
  position: relative;
}

.school {
  color: white;
  position : absolute;
  top : 30%;
  text-align : center;
  z-index :1;
}

 .btn > a {
  text-decoration: none;
}

/*** second-container ***/
.second-container {
  margin: 10% 10px;
  display : grid;
 grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-columns : 1fr;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.first-item{
  height: auto;
  
}

.item  {
  background-color : antiquewhite;
}

/**** third-container ****/
.third-container {
  height :150px;
  background-color : darkblue;
  color : white;
  display: grid;
  grid-template-columns : auto auto auto auto;
  grid-template-rows : auto;
  gap: 10px;
  padding : 10% 10px 10px 10px;
  line-height: 1;
}

/**** fourth-container ****/

.fourth-container {
  margin : 10% 10px;
  display: grid;
  text-align: center;
  justify-content: center;
  grid-template-rows : auto 1fr 1fr;
  grid-template-columns : 1fr 1fr ;
  gap: 10px;
}

.gallery{
  grid-column : span 2;
  padding-bottom : 10px;
}

.ga-im > img {
  height: 200px;
  width : 200px;
}

/*** footer ***/
.footer {
  background-color : darkblue;
  height :300px;
  color : white;
  padding: 10% 8px;
  display: flex;
  justify-content : space-between;
}

.right > a {
  text-decoration: none;
  display: block;
}

.right > a:hover {
  color: yellow;
}

.left {
  line-height :0.5;
  font-weight: none;
}


/*** @media ****/
@media (min-width: 768px){
  /** first-container **/
  .first-container > img {
    height: 100vh;
  }
  
  .school > h1 {
    top: 50%;
    font-weight : bold;
    font-size : 50px;
  }
  
  /** second-container **/
  .second-container {
    display : grid;
    grid-template-rows: auto 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
  }

.first-item {
  grid-column: span 4;
}

/*** third-container ***/
.third-container {
  height :250px;
  padding-left : 5%;
}

/***fourth-container ***/
.fourth-container {
  display: grid;
  grid-template-rows : auto 1fr;
  grid-template-columns : 1fr 1fr 1fr;
}

.gallery {
  grid-column : span 3;
}

.ga-im > img {
  width: 300px;
}

/** footer **/
.footer{
  padding-right: 10%;

}
}


